[Desktop Entry]
Encoding=UTF-8
Name=QMca
Comment=QMca Viewer
Exec=qmca %f
Icon=qmca
Terminal=false
Type=Application
MimeType=text/plain
Categories=Education;Science;Qt;
