[Desktop Entry]
Encoding=UTF-8
Name=QXIA
Comment=XIA Detector Readout
Exec=qxia %f
Icon=qxia-icon
Terminal=false
Type=Application
MimeType=text/plain
Categories=Education;Science;Qt;
